fastapi
uvicorn[standard]

langchain
langchain-openai
langgraph

sqlalchemy
psycopg2-binary

pydantic
pydantic-settings

python-dotenv
pandas

celery
redis

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-redis
opentelemetry-instrumentation-sqlalchemy
